body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  background-color: #1b262df7;
}

.App {
  border: 1em;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1b262d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0.9, 0.9, 0.9, 0.9);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App h1{
  font-size: 37px;
  background: linear-gradient(to right, #a78bfa, #ec4899);
-webkit-background-clip: text;
background-clip: text;
color: transparent;

}

form {
  margin-bottom: 20px;
}

.service-form p{
  font-size: 25px;
  font-weight: 400;
  color: rgb(218, 218, 218);
}

form input, form textarea {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #101010;
  border-radius: 8px;
  outline: none;
}

form button {
  padding: 10px 15px;
  /* background-color: #28a745; */
  background: linear-gradient(to right, #6366f1, #a855f7, #ec4899); 

  color: white;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #218838;
  transition-duration: 300ms;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-left: 10px;
}

button:hover {
  opacity: 0.8;
  transition-duration: 300ms;
}

.service-list:hover{
  background-color: #27333b; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 300ms;

}

.service-list {
  border: 2px solid #27333b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: ease-in-out;
}

.ServiceList-Heading{
  font-size: 25px;
  font-weight: 400;
  color: rgb(218, 218, 218);
}

.service-list-data span{
  font-size: 17px;
  font-weight: 400;
}

.service-list-data p{
  padding: 0px;
  margin: 15px 0px;
  font-size: 16px;
  display: flex;
  font-weight: 200;
  gap: 4px;
}

.service-list-buttons{
  display: flex ;
  align-items: center;
  width: 25%;
  margin-top: 10px;

}

.service-list-buttons button{
  /* background-color: #1b262d; */
  background-color: #ffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 16px;
}